<div class="container-fluid bg-secondary-subtle vh-100">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">Piezas de Lego</h1>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col-md-12 mt-4">
      <button class="btn btn-success">Agregar Nueva Pieza</button>
    </div>
  </div>
  <div class="row justify-content-center gap-3">
    <div class="col-lg-3 col-md-4 mb-2 mt-4">
      <select class="form-select" (change)="getSelectedOption($event)">
        <option value="" selected>Buscar por...</option>
        <option *ngFor="let option of searchOptions" class="search-option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="col-lg-4 col-md-3 mb-2 mt-4 position-relative">
      <div class="search-by-container">
        <input #searchInput type="text" class="form-control" (input)="getResultOptions($event)"/>
        <img
          _ngcontent-ng-c261296637=""
          src="https://img.icons8.com/ios/50/cancel.png"
          alt="cancel"
          class="cancel-icon"
          (click)="searchInput.value = ''"
        />
      </div>
      <div class="results-container" *ngIf="resultOptions.length > 0 && searchInput.value !== ''">
        <div class="result" *ngFor="let result of resultOptions" (click)="getLegoPieces(result)">
          <p class="fs-5">{{result}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
